.contacts .main .c-info {
    padding-left: 3%;
    vertical-align: top;
}
.contacts .main .c-info p {margin: 0;}
.contacts .main .c-info h3 {margin: 0; font-style: normal; font-size: 1.1em;}
.contacts .c-info .address {font-style: italic; margin-bottom: 1em;}
.contacts .c-info address {margin-bottom: 1em;}
/*.contacts .main .c-info p>a {display: block;}*/



.contacts .allend .feedback-form {
    width: 100%;
    height: 100%;
}

/*.feedback-form *:not(input) {padding: 0 !important;}*/
.contacts .allend .feedback-form>div {
    float: left;
    /*display: table-cell;*/
    width: 5%;
}

.contacts .allend .feedback-form>div:first-child {
    width: 25%;
 }
.contacts .allend .feedback-form>div:first-child>* {
    display: block;
    width: 88%;
    margin: 0;
}
.contacts .allend .feedback-form>div:first-child>*:not(:last-child) {margin-bottom: 0.6em;}
.contacts .allend .feedback-form>div:first-child input {
    padding: 0.75em;
}
.contacts .allend .feedback-form>div:first-child .LBD_CaptchaDiv {
    max-height: 80px;
    width: 100%;
}
.contacts .allend .feedback-form .LBD_CaptchaDiv a {width: 100%; height: 100%;}
.contacts .allend .feedback-form .LBD_CaptchaDiv img {
    height: auto;
    max-height: 80px;
    width: 100%;
}

.contacts .allend .feedback-form div:last-child {
    width: 70%;
    float: right;
    position: relative;
}
.contacts .allend .feedback-form textarea {
    width: 95%;
    height: 83%;
    padding: 0.75em;
}
.contacts .allend .feedback-form button {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 89%;
    left: -1px;
    padding: 0;
}



.contacts .allend>header {color: #440e62;}


.contacts .allend .feedback-form .LBD_CaptchaDiv,
.contacts .allend .feedback-form input,
.contacts .allend .feedback-form textarea,
.contacts .allend .feedback-form button{
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 55px 10px;
    -moz-border-radius: 55px 10px;
    border-radius: 55px 10px;
}

.contacts .allend .feedback-form .LBD_CaptchaDiv,
.contacts .allend .feedback-form input {
    color: #c8c8c8;
    font-style: italic;
    text-align: center;
}
.contacts .feedback-form textarea:focus,
.contacts .feedback-form input:focus {
    outline: none;
}
.contacts .allend .feedback-form input[name="captchacode"] {
    text-transform: uppercase;
}
.contacts .allend .feedback-form .LBD_CaptchaDiv:hover,
.contacts .allend .feedback-form input:hover{
    color: #630460;
    border-color: #9b9b9b;
}

.contacts .allend .feedback-form textarea {
    color: #252525;
    border-radius: 10px 10px 0px 0px;
    resize: none;

}
.contacts .allend .feedback-form button:hover,
.contacts .allend .feedback-form button:focus {
    outline: none;
}
.contacts .allend .feedback-form button {
    border-radius: 0px 0px 10px 10px;
    background-color: #580068;
    color: #fff;
}

.contacts .allend .feedback-form .LBD_CaptchaDiv {
    position: relative;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.contacts .allend .feedback-form .LBD_CaptchaImageDiv img {
    -webkit-border-radius: 9px 7px 7px 9px;
    -moz-border-radius: 9px 7px 7px 9px;
    border-radius: 9px 7px 7px 9px;
}
.contacts .allend .feedback-form .LBD_CaptchaImageDiv {
    width: 88%;
    margin-right: 1%;
}
.contacts .allend .feedback-form .LBD_CaptchaIconsDiv {
    width: 11%;
    margin: 0;
    position: relative;
    left: 1%;
}
/*.contacts .allend .feedback-form .LBD_CaptchaIconsDiv .LBD_SoundIcon{
    position: absolute;
    bottom: 0;
    top: 78%;
    right: 0;
}*/

.contacts .allend .feedback-form .LBD_CaptchaIconsDiv a:link,
.contacts .allend .feedback-form .LBD_CaptchaIconsDiv a:visited,
.contacts .allend .feedback-form .LBD_CaptchaIconsDiv a:focus,
.contacts .allend .feedback-form .LBD_CaptchaIconsDiv a:hover,
.contacts .allend .feedback-form .LBD_CaptchaIconsDiv a:active {margin: 0;}


/* ==========================================================================
   Mobile
   ========================================================================== */

/**************
*******Font Fixes***
*************/


/* ==============
MOBILE: Main
============== */
.contacts .main .c-map {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 270px;
    max-height: 300px;
}
.contacts .main .c-map iframe{
    width: 100%;
    height: 100%;
    min-height: 270px;
    max-height: 300px;
}
.contacts .main .c-info{
    display: block;
    width: 100%;
}

.contacts .main .c-info h3, .contacts .main .c-info p {
    float: left;
}
.contacts .main .c-info h3 {margin-right: 3%; width: 40%;}
.contacts .main .c-info p {width: 55%;}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/*@media only screen and (max-width: 530px) {
}*/

@media only screen and (min-width: 520px) {

    .contacts .main .c-map {
        width: 60%;
        float: left;
    }
    .contacts .main .c-info{
        width: 37%;
        float: left;
    }

    .contacts .main .c-info h3, .contacts .main .c-info p {
        float: none;
        width: 100%;
    }
    /**************
*******Font Fixes***
*************/

}

/*@media only screen and (min-width: 530px) {}*/

@media only screen and (min-width: 768px) {

    .contacts .main .c-map {
        width: 50%;
        min-height: 250px;
    }
    .contacts .main .c-map iframe{
        min-height: 250px;
    }
    .contacts .main .c-info{
        width: 47%;
    }

    .contacts .main .c-info h3, .contacts .main .c-info p {
        float: left;
    }
    .contacts .main .c-info h3 {margin-right: 3%; width: 40%;}
    .contacts .main .c-info p {width: 55%;}

    /**************
    *******Font Fixes***
    *************/

}

/*@media only screen and (min-width: 870px) {
}*/

@media only screen and (min-width: 1140px) {

    /*************
        *****Font Fixes****
        ******************/

}